/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYM 1
#define NAV 2

/ {
    behaviors {
        l1l2: layer1_layer2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SYM>, <&mo NAV>;
            mods = <(LSHFT)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            // ---------------------------------------------------------------------------------------------------------------------------------
            //              |  qQ    |  wW    |  eE    |  rR    |   tT     |                                |  yY    |  uU    |  iI    |  oO    |  pP    | 
            //              |  aA    |  sS    |  dD    |  fF    |   gG     |                                |  hH    |  jJ    |  kK    |  lL    |   ;:   | 
            // | SHFT TAB   |  zZ    |  xX    |  cC    |  vV    |   bB     |                                |  nN    |  mM    |  ,<    |  .>    |   ALT /?   | CTRL '" |
            //                                |  ESC`  |  SPC   |  RET     |                                |  BSPC  |  DEL   |  L1 L2 |
            bindings = <
                                &kp Q &kp W     &kp E   &kp R       &kp T                                    &kp Y    &kp U     &kp I     &kp O   &kp P
                                &kp A &kp S     &kp D   &kp F       &kp G                                    &kp H    &kp J     &kp K     &kp L   &kp SEMI
                &mt LSHFT TAB   &kp Z &kp X     &kp C   &kp V       &kp B                                    &kp N    &kp M     &kp COMMA &kp DOT &mt RALT FSLH &mt RCTRL APOS
                                                &gresc  &kp SPACE   &kp RET                                  &kp BSPC &kp DEL   &l1l2
            >;

        };

        sym_layer {
            label = "SYM";
            // ---------------------------------------------------------------------------------------------------------------------------------
            //         |  1!   |  2@   |  3#   |   4$   |   5%   |                                          |   6^   |   7&   |   8*   |   9(   |   0)   | 
            //         |  -_   |  =+   |       |        |        |                                          |        |        |        |   [    |   ]    | 
            // | LSHFT |       |       |       |        |        |                                          |        |        |        |        |   ALT  | CTRL |
            //                         |       |        |        |                                          |        |        |        |
            bindings = <
                        &kp N1    &kp N2    &kp N3  &kp N4  &kp N5                                            &kp N6    &kp N7  &kp N8    &kp N9    &kp N0
                        &kp MINUS &kp EQUAL &none   &none   &none                                             &none     &none   &none     &kp LBKT  &kp RBKT
            &kp LSHFT   &none     &none     &none   &none   &none                                             &none     &none   &none     &none     &kp RALT &kp RCTRL
                                            &none   &none   &none                                             &none     &none   &none
            >;

        };

        nav_layer {
            label = "NAV";
            // ---------------------------------------------------------------------------------------------------------------------------------
            //         |     |     |      |  UP   |       |                                          |      |       |       |      |       | 
            //         |     |     | LEFT |  DOWN | RIGHT |                                          |      |       |       |      |       | 
            // |       |     |     |      |       |       |                                          |      |       |       |      |       |      |
            //                     |      |       |       |                                          |      |       |       |
            bindings = <
                        &none &none &none    &kp UP   &none                                           &none &none   &none     &none  &none
                        &none &none &kp LEFT &kp DOWN &kp RIGHT                                       &none &none   &none     &none  &none
                &none   &none &none &none    &none    &none                                           &none &none   &none     &none  &none   &none
                                    &none    &none    &none                                           &none &none   &none
            >;

        };

    };
};
